/EventFinder/app/build
EventFinder/local.properties
/EventFinder/.gradle
/EventFinder/.idea
EventFinder/.idea/workspace.xml
EventFinder/.idea/vcs.xml
EventFinder/.gradle/file-system.probe
EventFinder/.gradle/8.10.2/fileHashes/fileHashes.lock
EventFinder/.gradle/8.10.2/fileHashes/fileHashes.bin
