/EventFinder/app/build
EventFinder/local.properties
/EventFinder/.gradle
/EventFinder/.idea
EventFinder/.idea/workspace.xml
EventFinder/.idea/vcs.xml
EventFinder/.gradle/file-system.probe
EventFinder/.gradle/8.10.2/fileHashes/fileHashes.lock
EventFinder/.gradle/8.10.2/fileHashes/fileHashes.bin
.DS_Store
EventFinder/.DS_Store
EventFinder/app/.DS_Store
EventFinder/app/src/.DS_Store
EventFinder/app/src/main/.DS_Store
EventFinder/app/src/main/java/.DS_Store
EventFinder/app/src/main/java/com/.DS_Store
EventFinder/app/src/main/java/com/example/.DS_Store
EventFinder/app/src/main/java/com/example/eventfinder/.DS_Store
.DS_Store
EventFinder/.DS_Store
EventFinder/app/.DS_Store
EventFinder/app/src/.DS_Store
EventFinder/app/src/main/.DS_Store
EventFinder/app/src/main/java/.DS_Store
EventFinder/app/src/main/java/com/.DS_Store
EventFinder/app/src/main/java/com/example/.DS_Store
EventFinder/app/src/main/res/.DS_Store
