/.idea
/EventFinder/app/build
/EventFinder/.gradle
EventFinder/local.properties
EventFinder/.idea/workspace.xml
EventFinder/.idea/vcs.xml
EventFinder/.idea/deploymentTargetSelector.xml
EventFinder/.idea/caches/deviceStreaming.xml
EventFinder/.gradle/file-system.probe
EventFinder/.gradle/config.properties
EventFinder/.gradle/8.10.2/fileHashes/fileHashes.lock
EventFinder/.gradle/8.10.2/fileHashes/fileHashes.bin
EventFinder/.gradle/8.10.2/dependencies-accessors/19666b7ee7477488faba75fa6199859f9eeb0a35/metadata.bin
