<header>
    <div class="container">
        <a href="{{ url_for('home') }}" class="logo">EventFinder</a>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('eventi') }}">Eventi</a></li>
                <li><a href="{{ url_for('amici') }}">Amici</a></li>
                <li><a href="{{ url_for('contatti') }}">Contatti</a></li>
                <li><a href="{{ url_for('account') }}">Account</a></li>
            </ul>
        </nav>
    </div>
</header>
