<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventi | EventFinder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Menu -->
    <header>
        <nav>
            <div class="logo">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo EventFinder">
            </div>
            <ul class="menu">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('eventi') }}">Eventi</a></li>
                <li><a href="{{ url_for('contatti') }}">Contatti</a></li>
                {% if session.logged %}
                <li><a href="{{ url_for('profilo') }}">Ciao {{session["nome"]}}</a></li> 
                {% else %}
                <li><a href="{{ url_for('login') }}" class="btn-login-register">Login/Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    

    <!-- Sezione Eventi -->
    <section id="eventi">
        <div class="intro">
            <h1>Eventi Disponibili</h1>
            <p>Esplora gli eventi più recenti e scopri cosa sta accadendo vicino a te!</p>
        </div>

        <a id="btn-add-event" href="{{url_for('aggiungievento')}}" class="aggiungieventi">Aggiungi evento</a>
        
        <!-- Lista eventi -->
        <div class="event-list">
            
            <a href="{{url_for('info_evento')}}" class="eventi">
                {% for evento in eventi %}
                <div class="event-card">
                    <img src="{{ evento.urlimage }}" alt="immagine del film {{ evento.titolo }}">
                    <h3>{{ evento.titolo }}</h3>
                    <h4>{{ evento.luogo }}</h4>
                    <h5>{{ evento.data_evento }}</h5>
                    <p>{{ evento.info_evento }}</p>
                    <p>{{ evento.info_artista }}</p>
                    <p>{{ evento.prezzo }}</p>

                    <form action="{{ url_for('elimina_evento', evento_id=evento['id']) }}" method="POST">
                        <button type="submit" class="Elimina">Elimina Evento</button>
                    </form>
                </div>
                {% endfor %}
            </a>      
        </div>
    </section>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
