<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Info Evento</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo EventFinder">
            </div>
            <ul class="menu">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('eventi') }}">Eventi</a></li>
                <li><a href="{{ url_for('contatti') }}">Contatti</a></li>
                {% if session.logged %}
                    <a href="#">Ciao {{session.username}}</a>
                {% else %}
                <li><a href="{{ url_for('login') }}" class="btn-login-register">Login/Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    
</body>
</html>