<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Profilo</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo EventFinder">
            </div>
            <ul class="menu">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('eventi') }}">Eventi</a></li>
                <li><a href="{{ url_for('contatti') }}">Contatti</a></li>
            </ul>
        </nav>
    </header>

    


    <section class="profilo-utente">
        <div class="profilo-box">
            <img src="{{ url_for('static', filename='img/foto_profilo.png') }}" alt="Foto Profilo" class="foto-profilo">
            <div class="info-utente">
                <h2>{{ utente.nome }} {{ utente.cognome }}</h2>
                <p><strong>Email:</strong> {{ utente.email }}</p>
                <p><strong>Data di nascita:</strong> {{ utente.data_di_nascita }}</p>
                
            </div>
            <div class="btn-logout">
                <form  action="/logout">
                    <button id="logout" href="/logout">Logout</button>
                </form>
            </div>
        </div>
    </section>
    
    

    <footer id="footer">
        <p>&copy; 2025 EventFinder - Tutti i diritti riservati.</p>
        <ul>
            <li><a href="#privacy-policy">Privacy Policy</a></li>
            <li><a href="#terms">Termini di Servizio</a></li>
            <li><a href="#help">Aiuto</a></li>
        </ul>
    </footer>

</body>
</html>